.implant-container {
    padding-top: 80px;
}

.implant-div {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
    max-width: 80%;
    background: #ffb600;
    border-radius: 5px;
    transition: 0..3ms;
   
}

.implant-div:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.implant-name-div {
    padding: 8px 16px;
    transition: 0.3s;
}

.implant-pn-div {
    padding-bottom: 8px;
   color: #272727;
   transition: 0.3s;
}

.show-insert-container{
    padding-top: 70px;
    color: #fff;
}