.implant-container {
    padding-top: 0px;
}

/***************** Capital Products *********************/
.capital-products-container {
    max-width: 500px;
    margin: 80px auto;
}

.capital-product-div {
    text-align: center;
    margin: 0 auto;
    padding: 8px 16px;
    margin-bottom: 16px;
    min-width: 275px;
    max-width: 300px;
    background: #ffb600;
    border-radius: 5px;
    transition: 0.3ms;
}

.capital-product-div:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.capital-product-title-div {
    font-weight: 900;
    font-size: 16px;
    color: #262626;
    padding: 8px;
    text-align: center;
}

.capital-product-pn-div {
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    padding-bottom: 8px;
    color: #272727;
    transition: 0.3s;
}

/* Insert List Details Text */

.insert-list-details-text-div {
    background: #ffb600;
    margin-bottom: 24px;
    padding: 12px 8px;
    border-radius: 5px;
}

.insert-list-details-div {
    /* max-width: 500px;
    margin: auto; */
    color: rgba(255, 255, 255, 0.9);
}

.insert-list-details-div h3 {
    margin: 0px;
    padding: 0px;
    margin-left: 16px;
    margin-bottom: 12px;
}
.insert-list-details-div p {
    color: #262626;
    margin-top: 12px;
}

/***************** Implant Families  ********************/

.implant-families-container {
    max-width: 500px;
    margin: 80px auto;
}

.implant-family-div {
    text-align: center;
    margin: 0 auto;
    padding: 8px 16px;
    margin-bottom: 16px;
    min-width: 275px;
    max-width: 300px;
    background: #ffb600;
    border-radius: 5px;
    transition: 0.3ms;
}

.implant-family-div:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}


.implant-family-name-div {
    font-weight: 900;
    font-size: 22px;
    color: #262626;
    padding: 8px;
    text-align: center;
}

/*********************************************************/

.reusable-title-text {
    margin: 0px;
    padding: 0px;
    margin-left: 40px;
    margin-bottom: 8px;
    color: #fff;
}

.end-reusable-div {
    font-size: 13px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 8px;
    margin-top: -8px;
    color: #fff;
}

.implant-div {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
    max-width: 80%;
    background: #ffb600;
    border-radius: 5px;
    transition: 0.3ms;
   
}

.implant-div:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.implant-name-div {
    font-weight: 900;
    padding: 8px 16px;
    transition: 0.3s;
}

.implant-pn-div {
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    padding-bottom: 8px;
   color: #272727;
   transition: 0.3s;
}

#alpha5_5-img-url{
    background: transparent url("../images/lacrosse.svg") 0% 0% no-repeat padding-box;
    background-size: 35px;
}

#alpha6_5-img-url{
    background: transparent url("../images/basketball.svg") 0% 0% no-repeat padding-box;
    background-size: 35px;
}

#alpha4_75-img-url{
    background: transparent url("../images/soccer.svg") 0% 0% no-repeat padding-box;
    background-size: 35px;
}

#iconix1-img-div {
    margin: 0 auto;
    margin-bottom: 16px;
    width: 90%;
    height: 200px;
    background: transparent url("../images/iconix1a.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 365px;
}

#iconix2-img-div {
    margin-left: 36.5%;
    margin-bottom: 20px;
    width: 90%;
    height: 200px;
    background: transparent url("../images/iconix2a.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 365px;
}

#insert-name-div {
    padding-top: 80px;
}
.insert-details-div h3{
    margin: 0px;
    padding: 0px;
    margin-left: 16px;
    margin-bottom: 12px;
}

.insert-details-div p {
    margin: 0px;
    padding: 0px;
}

.insert-details-div {
    color: rgba(255, 255, 255, 0.9);    
}

.insert-details-text-div {
    background: #ffb600;
    margin: 0 auto;
    margin-bottom: 24px;
    width: 90%;
    padding: 12px 8px;
    border-radius: 5px;
}

.insert-details-text {
    color: #262626;
}

/* --------------------------Search Feature -----------------------*/


.input-div {
    max-width: 375px;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 16px;
}

input:focus{
    outline: none;
}

.input-div i {
    position: absolute; 
    left: 310px; 
    top: 95px; 
    color: #262626;

}

.input-field{
    padding: 12px;
    width:74%;
    text-align:left;
    border-radius: 5px;
}

/* ------------------ Probes ----------------------*/ 
.probes-container {
    padding-top: 0px;
}

.suction-title {
    color: #fff;
    margin-left: 40px;
}

#top-suction-div h3{
    margin-top: 0;
}

.shavers-container {
    padding-top: -20px;
}

.shaver-div {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
    max-width: 80%;
    background: #ffb600;
    border-radius: 5px;
    transition: 0.3ms;
}

.shaver-div:hover {
   cursor:pointer;
}

.shaver-name-div {
    font-weight: 900;
    padding: 8px 16px;
    transition: 0.3s;
}

.shaver-pn-div {
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    padding-bottom: 8px;
   color: #272727;
   transition: 0.3s;
}

.probe-div {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
    max-width: 80%;
    background: #ffb600;
    border-radius: 5px;
    transition: 0.3ms;
   
}

.probe-div:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.probe-name-div {
    font-weight: 900;
    padding: 8px 16px;
    transition: 0.3s;
}

.probe-pn-div {
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    padding-bottom: 8px;
   color: #272727;
   transition: 0.3s;
}

.suction-probe-title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 16px 0px;
    font-weight: 900;
    max-width: 80%;
    background: #ffb600;
    border-radius: 5px;
}

.probes-title-div {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 16px;
    min-width: 80%;
    background: #ffb600;
    padding: 12px 0px;
    border-radius: 5px;
}

/******************** Measurement Image ****************************/
.measurement-img-div {
    margin: 0 auto;
    margin-bottom: 8px;
    width: 90%;
    height: 470px;
    background: transparent url("../images/measurements2.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 320px;
}

/*********************** Needles ******************************/
.needle-details-div {
    background: #ffb600;
    margin: 0 auto;
    width: 90%;
    padding: 8px;
    margin-bottom: 24px;
    border-radius: 5px;
}


.needle-details {
    padding: 8px 0px;
    font-weight: 900;
}

.wire-diameter {
    font-weight: 100;
}

.insert-details-container h3{
    margin: 0px;
    padding: 0px;
    margin-left: 16px;
    margin-bottom: 12px;
    color: #fff;
}

.wire-diameter{
    margin-top: 8px;
    margin-left: 16px;
}

.needle-one-image {
    margin: 0 auto;
    margin-bottom: 16px;
    width: 90%;
    height: 340px;
    background: transparent url("../images/trocar_tip.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 320px;

}

.needle-img-title {
    margin: 0px;
    padding: 0px;
    margin-left: 16px;
    margin-bottom: 12px;
    color: #fff;
}

.needle-details-text {
    margin-left: 16px;
}

.needle-details-text-last {
    margin-left: 16px;
    margin-bottom: 8px;
}

/****************** Trocar Image *********************/
.trocar-img-div {
    margin: 0 auto;
    margin-bottom: 8px;
    width: 90%;
    height: 350px;
    background: transparent url("../images/trocar_tip.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 320px;
}

/********* Reusable Image ********/
.reusable3_9-img-div {
    margin-bottom: 16px;
    margin: 0 auto;
    max-width: 380px;
    height: 820px;
    background: transparent url("../images/reusable3_9.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 300px;
} 

.reusable4_7-img-div {
    margin-bottom: 16px;
    margin: 0 auto;
    max-width: 380px;
    height: 820px;
    background: transparent url("../images/reusable4_7.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 300px;
} 

/**************** Default Settings *************************/
#shaver-default-details-div {
    margin-top: 85px;
}

.shaver-img-div {
    margin: 0 auto;
    margin-bottom: 16px;
    width: 70%;
    height: 215px;
    background: transparent url("../images/handpiece.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 350px;
}

/************************** Media Queries - Implants*****************************/

/* Desktop */

@media  (min-width: 1201px) and (max-width: 2000px)  {  
    .implant-container {
        min-width: 500px;
      margin: 0 auto;
    }

    .input-div {
        max-width: 400px;
        margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 16px;
    }

    .input-field {
        width: 375px;
    }
   
    
    .input-div i { 
        left: 885px; 
    
    }

      /* Inster details */
      .insert-details-text-div {
          /* max-width: 500px; */
          max-width: 375px;
    }

    #iconix1-img-div {
        margin: 0 auto;
        max-width: 375px;
    }

    .trocar-img-div {
        max-width: 375px;
    }

    .insert-details-div h3 {
        margin-left: 36.5%;
    }

   .needle-details-div  {
       max-width: 375px;
   }

    .insert-details-container h3 {
        margin-left: 36.5%;
    }

    .insert-img-div {
        max-width: 520px;
    }

    .measurement-img-div {
        max-width: 375px;
    }



    /* Probes */
    .probes-container {
        min-width: 500px;
        margin: 0 auto;
    }
  
    .input-div i {
        left: 880px;
  
    }

    /* Shavers and Errors*/
    .shavers-container {
        max-width: 500px;
        margin: 0 auto;
    }

    .shaver-div {
        min-width: 400px;
    }



  }

@media  (min-width: 1025px) and (max-width: 1200px)  {  
    .implant-container {
        min-width: 500px;
      margin: 0 auto;
    }

    .input-div {
        max-width: 400px;
        margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 16px;
    }

    .input-field {
        width: 375px;
    }
   
    
    .input-div i { 
        left: 885px; 
    
    }

      /* Inster details */
      .insert-details-text-div {
          /* max-width: 500px; */
          max-width: 375px;
    }

    #iconix1-img-div {
        margin: 0 auto;
        max-width: 375px;
    }

    #iconix2-img-div {
        margin-left: 31%;
    }

    .trocar-img-div {
        max-width: 375px;
    }

    .insert-details-div h3 {
        margin-left: 33.5%;
    }

   .needle-details-div  {
       max-width: 375px;
   }

    .insert-details-container h3 {
        margin-left: 32%;
    }

    .insert-img-div {
        max-width: 520px;
    }

    .measurement-img-div {
        max-width: 375px;
    }



    /* Probes */
    .probes-container {
        min-width: 500px;
        margin: 0 auto;
    }
  
    .input-div i {
        left: 880px;
  
    }

    /* Shavers and Errors*/
    .shavers-container {
        max-width: 500px;
        margin: 0 auto;
    }

    .shaver-div {
        min-width: 400px;
    }



  }

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    #iconix2-img-div {
        margin: auto;
    }
}


@media (min-width: 451px) and (max-width: 768px) {

    .implant-container {
        min-width: 500px;
      margin: 0 auto;
    }
    .input-div {
        max-width: 400px;
        margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 16px;
    }
    .input-field {
        width: 375px;
    }
   
    .input-div i { 
        left: 540px; 
    }

    #iconix2-img-div {
        margin: auto;
    }

    /* Inster details */
    .insert-details-text-div {
        max-width: 500px;
    }

    .insert-details-div h3 {
        margin-left: 16%;
    }

   .needle-details-div  {
       max-width: 500px;
   }

    .insert-details-container h3 {
        margin-left: 16%;
    }

    .insert-img-div {
        max-width: 520px;
    }

    .measurement-img-div {
        max-width: 520px;
    }

    .trocar-img-div {
        max-width: 520px;
    }

    .shaver-div {
        max-width: 395px;
    }

   

  
   }

@media (min-width: 769px) and (max-width: 1024px) {

    .implant-container {
        min-width: 500px;
      margin: 0 auto;
    }
    .input-div {
        max-width: 400px;
        margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 16px;
    }
    .input-field {
        width: 375px;
    }
   
    .input-div i { 
        left: 680px; 
    }

      /* Insert Details */
      /* .insert-details-div{
        min-width: 500px;
        margin: 0 auto;
    }

    .insert-list-details-div {
        min-width: 500px;
        margin: 0 auto;
    }
    

    .insert-details-container{
        min-width: 500px;
        margin: 0 auto;
    }

    .insert-details-text-div {
        max-width: 490px;
        margin: 16px auto;
    }

    .insert-details-div h3{
        margin-left: 5%;
    } */
       /* Probes */
   .probes-container {
    min-width: 500px;
    margin: 0 auto;
   }

   .shaver-div {
    max-width: 395px;
}
   }

/* Mobile */

@media (min-width: 391px) and (max-width: 401px) {
    .implant-container {
        min-width: 310px;
    }
    .input-field {
        width: 280px;
    } 
    .input-div i { 
        left: 320px; 
    }

    #iconix2-img-div {
       margin: auto;
    }
   }

@media (min-width: 381px) and (max-width: 450px) {
    .input-div {
        max-width: 400px;
        margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 16px;
    }

    #iconix2-img-div {
        margin: auto;
     }
 
    .input-field {
        width: 310px;
    } 
    .input-div i { 
        left: 340px; 
    }
   }

@media (min-width: 360px) and (max-width: 380px) {
    .implant-container {
        min-width: 310px;
    }
    .input-field {
        width: 263px;
    } 
    .input-div i { 
        left: 300px; 
    }
   }

/*************************** Media Queries Probes *********************************/

 




  