.content-wrapper {
    max-width: 500px;
    margin: 84px auto;
}

.content-div {
    text-align: center;
    padding: 8px 16px;
    margin-bottom: 16px;
    min-width: 275px;
    max-width: 300px;
    background: #ffb600;
    border-radius: 5px;
    transition: 0.3ms;
}

.product-name-title-div h3{
    color: #fff;

}

.insert-details-title {
    color: #fff;
}

.disposables-details-title {
    color: #fff;
    padding-top: 12px;
}

.replacement-parts-details-title {
    color: #fff;
    padding-top: 12px;
}


.benefits-div {
    padding: 8px 16px;
    margin-bottom: 16px;
    min-width: 275px;
    max-width: 300px;
    background: #ffb600;
    border-radius: 5px;
    transition: 0.3ms;
}

.benefits-info{
    
}


.product-name-div {
    padding: 8px 16px;
    margin-bottom: 16px;
    min-width: 275px;
    max-width: 300px;
    background: #ffb600;
    border-radius: 5px;
    transition: 0.3ms;

}

.alphavent-name-div{
    padding: 8px 16px;
    margin-bottom: 16px;
    min-width: 275px;
    max-width: 300px;
    background: #ffb600;
    border-radius: 5px;
    transition: 0.3ms;
}

.alphavent-name-div .alphavent-name-text {
    font-style: italic;
    font-weight: 500;
}

.disposables-pn-div {
    color: #fff;
    font-weight: 500;
    padding-left: 12px;
}

.details-img-div {
    height: 390px;
    border-radius: 5px;
}

.dispoables-img-div {
    height: 90px;
    border-radius: 5px;
}

#dispoables-image {
    background: transparent url(../images/beach-chair-disposables.png) 0% 0% no-repeat padding-box;
    background-size: cover;
}

#replacement-img-3105400030 {
    background: transparent url(../images/adapt-chair-replacement.png) 0% 0% no-repeat padding-box;
    background-size: cover;
}

#config-div-475 {
    background: transparent url(../images/alpha-pn-475.png) 0% 0% no-repeat padding-box;
    background-size: cover;
    height: 340px;
}

#config-div-55 {
    background: transparent url(../images/alpha-pn-55.png) 0% 0% no-repeat padding-box;
    background-size: cover;
    height: 260px;
}

#config-div-65 {
    background: transparent url(../images/alpha-pn-65.png) 0% 0% no-repeat padding-box;
    background-size: cover;
    height: 140px;
}

.replacement-parts-pn-div {
    color: #fff;
    font-weight: 500;
    padding-left: 12px;
}

.alpha-product-pn-div{
    color: #fff;
    font-weight: 500;
    padding-left: 12px;
 
}

.content-details-div:hover {
    cursor: pointer;
}

.content-details-div div {
    font-style: italic;
}

.content-div:hover {
    cursor: pointer;
}

.content-title-div {
    margin: 8px 0 8px 0;
    font-weight: 700;
}

.content-description-div {
    margin-bottom: 8px;
    font-style: italic;
    font-weight: 100;
}

.section-title {
    color: #fff;
}

/****** Capital Products *******/
.alphavent-feature-img-div {
    margin-top: 3px;
    width: 50px;
    height: 40px;
    opacity: 1;
}
#alpha4_75-img-url {
    background: transparent url(../images/lacrosse.svg) 0% 0% no-repeat padding-box;
    /* background-size: 35px; */
}

#alpha4_75-title{
    padding-top: 4px;
    padding-left: 28px;
}

#alpha5_5-img-url {
    background: transparent url(../images/basketball.svg) 0% 0% no-repeat padding-box;
    /* background-size: 40px; */
}

#alpha5_5-title{
    padding-top: 4px;
    padding-left: 28px;
}

#alpha6_5-img-url {
    background: transparent url(../images/soccer.svg) 0% 0% no-repeat padding-box;
    /* background-size: 50px; */

}

#alpha6_5-title {
    padding-top: 4px;
    padding-left: 28px;

}

/********* DARTS **********/

.darts-img-div {
   height: 235px;
   background-color: red;
}
.compatability-img-div {
   height: 235px;
   background-color: red;
}
#darts-compatability-image {
    background:  transparent url(../images/darts_comp_table.png) 0% 0% no-repeat padding-box;
    background-size:cover;
}
#darts-compatability-image-0 {
    background: white url(../images/dart-img.png) 0% 0% no-repeat padding-box;
    background-size:cover;

}
#darts-compatability-image-1 {
    background: transparent url(../images/darts_img2.png) 0% 0% no-repeat padding-box;
    background-size:cover;
}


/****** Implant Divs *******/

.implant-family-content-div {
    text-align: center;
    padding: 8px 16px;
    margin-bottom: 16px;
    min-width: 275px;
    max-width: 300px;
    background: #ffb600;
    border-radius: 5px;
    transition: 0.3ms;
}

.name-div {
    font-weight: 700;
    margin-bottom: 8px;
}

.name-div p {
    font-weight: 500;
    font-style: italic;
}

.pn-div {
    font-style: italic;
}
/****** Iconix Images ******/
#iconix1-img-div {
    margin: 0 auto;
    margin-bottom: 16px;
    width: 90%;
    height: 200px;
    background: transparent url("../images/iconix1a.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 365px;
}

#iconix2-img-div {
    margin-bottom: 20px;
    width: 90%;
    height: 200px;
    background: transparent url("../images/iconix2a.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 365px;
}

.measurement-img-div {
    margin: 0 auto;
    margin-bottom: 8px;
    width: 90%;
    height: 470px;
    background: transparent url(../images//measurements2.png) 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 320px;
}

.needle-details-div {
    background: #ffb600;
    margin: 0 auto;
    width: 100%;
    padding: 8px;
    margin-bottom: 24px;
    border-radius: 5px;
}

.needle-details {
    padding: 8px 0px;
    font-weight: 900;
}

.wire-diameter {
    font-weight: 100;
}
/********* Reusable Image ********/
.reusable3_9-img-div {
    margin-bottom: 16px;
    margin: 0 auto;
    max-width: 380px;
    height: 820px;
    background: transparent url("../images/reusable3_9.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 300px;
} 

.reusable4_7-img-div {
    margin-bottom: 16px;
    margin: 0 auto;
    max-width: 380px;
    height: 820px;
    background: transparent url("../images/reusable4_7.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 300px;
} 

/******* Search Bar Feature **********/
.search-container {
    margin: 84px auto;
    min-width: 375px;
    max-width: 375px;
    text-align: center;
    margin-bottom: -75px;
}

input:focus{
    outline: none;
}

/* .search-container i {
    position: absolute; 
    left: 856px; 
    top: 100px; 
    color: #262626;
} */

.input-field{
    padding: 12px;
    width:74%;
    text-align:left;
    border-radius: 5px;
}